{% extends 'layout.html' %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="#">后台管理</a></li>
        <li class="active"><span>用户管理</span></li>
    </ol>
    <h3>用户管理</h3>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <td>ID</td>
            <td>用户名</td>
            <td>密码</td>
            <td>是否为管理员</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user._id.toString() }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>

                <td>
                    {% if user.isAdmin %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>
    {% include 'page.html' %}
{% endblock %}