{% extends 'layout.html' %}
{% block content %}
    <h4 class="list-group-item-heading">{{ content.title }}</h4>
    <p>
        作者：<span>{{ content.user.username}}</span> -
        时间：<span>{{ content.addTime|date('Y年m月d日 H:i:s',-8*60) }}</span> -
        阅读：<span>{{ content.views }}</span> -
        评论：<span></span>
    </p>
    <p class="list-group-item-text">{{ contents.content }}</p>

    <div class="listbox message">
         {% if userInfo._id %}
         <h3 class="text-left"><strong>评论</strong><span class="em">一共有<em class="messageCount">0</em>条评论</span></h3>
         <p class="text-left">zmouse</p>
         <p class="text-left clearfix">
             <textarea  id="messageContent"></textarea>
             <input type="hidden" id="contentId" value="{{ content.id }}">
             <button id="messageBtn" class="submit">提交</button>
         </p>
         {% else %}
        <p class="bgDanger">
            你还没有登录,请先登录!
        </p>
         {% endif %}
        <div class="messageList">
            {#<div class="messagebox">#}
                {#<p><span>admin</span><span>日期</span></p>#}
                {#<p>哈哈</p>#}
            {#</div>#}
        </div>
        <ul class="pager">
            <li class="previous"><a href="javascript:;">上一页</a></li>
            <li>
                <span class="pageNow">1</span>/<span class="sumPage">10</span>
            </li>
            <li class="next"><a href="javascript:;">下一页</a></li>
        </ul>
    </div>

    <script src="/public/js/comment.js"></script>

{% endblock %}